#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  Configs for running tosca pipeline on SPLASH data
 * -------------------------------------------------
 */

docker {
  enabled = true
}

params {

  max_memory = 16.GB
  max_cpus = 8
  max_time = 12.h

}

params {

  config_profile_name = 'SPLASH profile'

  // Parameters

  skip_qc = true
  skip_premap = true
  skip_atlas = true

  omit_highincidence = 0
  merge_fastq = false

  percent_overlap =  0.9 // increased overlap threshold to prevent spurious clustering
  chunk_number = 1 // Set to 1 when analysing a single-RNA sample otherwise CHUNK_HYBRIDS will throw an error
  sample_size = 5000

  five_prime_trim_length = 3 // new parameter for removing 5' bases added by template switching oligo during lib prep
  adapter = 'A{10}' // to trim 3' polyA tails added from lib prep (trailing illumina adaptors will also be removed)
  min_quality = 20
  min_readlength = 50
  dedup_method = 'none' // disactivates UMI-based deduplication

  bin_size = 1 // to generate contact maps at single nucleotide resolution

  analyse_structures = true
  clusters_only = true
  shuffled_energies = true

  // Files (define on command line)
  input = ''
  goi = ''
  transcript_fa = ''
  
  // set gtf if gene annotation desired; otherwise tosca default passed to prevent errors
  regions_gtf = "https://raw.githubusercontent.com/amchakra/tosca/main/testdata/ref/ARF1_regions.gtf.gz"

  // These params are generated automatically in the tweaked pipeline
  // transcript_fai = ""
  // transcript_gtf = "" 
  // genome_fai = "" // defined to be same as transcript_fai


}